.gallery-main{
    padding: 1rem;
    padding-top: 5rem;
}

.gallery-main h1{
    color: #EA5A0B;
    font-weight: bolder;
}

.gimg1,
.gimg2,
.gimg3,
.gimg4,
.gimg5,
.gimg6,
.gimg7,
.gimg8{
    height: 333px;
    width: 200px;
    margin:0.5rem;
}

@media (min-width: 700px) {
    .gimg2,
    .gimg3,
    .gimg6,
    .gimg7{
        width: 50vw;
    }
    .gimg1,
    .gimg4,
    .gimg5,
    .gimg8{
        width: 30vw;
    }

}
