.css-qxwadg{
    margin: 0 auto;
}
.gallery h1{
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color:#EA5A0B;
    text-align: center;
    margin:3rem 0 1.5rem 0;
}
.css-10riir9-MuiImageList-root{
    column-count: 4;
}
@media (max-width:768px) {
    .css-10riir9-MuiImageList-root{
        column-count: 3;
    }
}