
html {
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
.video{
    height:90vh;
    z-index: -1;
    position: absolute;
    object-fit: cover;
    left: 0;
    width: 100%;
    max-width: 1800px; 
    top:51.6%; 
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.section-1{
    height: 88.5vh;
    background-color:  rgba(0, 0, 0, 0.5);
    /* background-image: url('../img/sec-1-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    text-align: center;
}
.section-1 h1{
    color:#fff;
    font-size: 4.8rem;
    letter-spacing: -5px;
    line-height: .9  ;
    margin-top: 0;
    padding-top: 14rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.section-1 span{
    color:#EA5A0B;
}
.section-1 button{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 3px;
    height:2.3rem;
    width:7.5rem;
    color:white;
    cursor:pointer;
    margin-top: 1rem;
    font-family: 'Lato', sans-serif;
    transition: .2s ease-in-out 0s;
}

.section-1 button a{
    text-decoration: none;
    color: #fff;
}

.section-1 button:hover,
.section-1 button a:hover
{
    background-color: #fff;
    color: #000;
    transform: scale(1.1);
}



.section-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 2rem 100px 2rem;
}
.sec2-box1{
    width:50%;
}
.sec2-box2{
    width:50%;
}
.sec2-box2 img{
    display: block;
    margin-left: auto;
    width:35vw;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.sec2-box1 h3{
    font-size: 43.95px;
    color:#EA5A0B;
    margin-bottom: 27px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.sec2-box1 p{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-bottom: 1.68rem;
    margin-bottom: 3rem;
}
.sec2-box1 a{
    background-color: #19211C;
    padding: 8px 3.5rem;
    color:white;
    cursor:pointer;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    border: 0px;
    border-radius: 3px;
    text-decoration: none;
}
.sec2-box1 a:hover{
    background-color: #245d3a;
}



.section-3{
    height:80vh;
    background-color: #000000;
    background: url('../components/img/img1.jpg') repeat fixed 100%;
    text-align: center;
    background-size: cover;
}
.section-3 div{
    height:80vh;
    background-color: #00000046;
}
.section-3 h1{
    color:#fff;
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 2rem;
}



.section-4{
    background: url('../components/img/img2.webp') no-repeat  100%;
    background-color: #000;
    /* background-position: left;
    background-size: contain; */
    /* margin-bottom: 1rem; */
    background-size: cover;
    height:90vh;
}
.about{
    min-height:40vh;
    max-height: 60vh;
    background-color: #ffffff;
    width: 30%;
    margin-left:50%;
    padding:4rem 3rem;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.about h3{
    font-size: 43.95px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color:#19211C; 
    position: absolute;
    top:-1rem;
    left: -4rem;
}
.about span{
    color:#fff;
}
.about p{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-top: 4rem;
    max-height: 49vh;
    overflow: hidden;
}
.about button{
    position: absolute;
    bottom:-10px;
    right:40px;
    background-color: #000;
    height:2.3rem;
    width:7.5rem;
    color:white;
    cursor:pointer;
    font-family: 'Lato', sans-serif;
    transition: .2s ease-in-out 0s;
    border: 0;
}
.about button:hover{
    /* transition: ease-in-out .15s; */
    transform: scale(1.1);
}

.section-5{
    padding:0 20px 5rem 20px;
}
.section-5 h3:nth-child(1){
    color: #eb6d29;
    font-size: 43.95px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
}



@media (max-width: 768px){
    nav{
        height:75px;
    }
    .video{
        height:80vh;
        top:49.5%;
    }
    .section-1{
        height:80vh;
    }
    .section-1 h1{
        font-size: 3.5rem;
    }
    .section-2{
        float: none;
        text-align: center;
        position: relative;
        padding: 3rem 2rem;
    }
    .sec2-box2{
        width:100%;
        order:1;
    }
    .sec2-box2 img{
        width:60%;
        margin: 0 auto;
        display: none;
    }
    .sec2-box1{
        width:100%;
        order:2;
    }
    .section-3{
    height:100vh;
    }
    .section-3 div{
        height:100vh;
    }
    .section-3 span{
        display: block;
    }
    .section-3 h1{

        line-height: .8;
        letter-spacing: 3px;
    }
    .about{
        position: static;
        margin: 0;
        width:fit-content;    
        bottom: 0;
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
        text-align: center;
    }
    .about h3{
        position: relative;
        margin: 0;
        right: auto;
        left: auto;
    }
    .about span{
        color:#000;
    }
    .about p{
        margin: 0;
    }
    .about button{
        position: relative;
        left:auto;
        right:auto;
        top:2rem
    }
    .section-4{
        background-image: none;
        height: fit-content;
    }
    .about{
        padding:6rem 2rem;
    }
    .section-6{
        background-image: url('../components/img/img3.webp');
        background-size:cover;
        background-repeat: no-repeat;
        height: 50vw;
        max-height: 550px;
    }
}